#sortContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

#sortContainer button {
    font-size: 1em;
}

#sortContainer button:nth-of-type(5) {
    background: #e90000;
}

#collegeResultContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.rangeContainer {
    height: 35em;
    width: 25em;
    border: 0.2em solid #eeeeee;
    padding: 1em;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.labelContainer {
    width: 10em;
    text-align: right;
}

.labelContainer p {
    height: 3em;
}

.sliderContainer {
    height: 30em;
    width: 11em;
    overflow: hidden;
}

.rangeInput {
    width: 100%;
    height: 2.85em;
}

.rangeInput input {
    width: 100%;
}

.rangeInput select {
    width: 100%;
    font-size: 1.1em;
}

.resultsContainer {
    height: 40em;
    width: 48em;
    text-align: center;
    border: 0.2em solid #eeeeee;
    
}

.resultBox {
    background: rgba(30, 30, 30, 0.2);
    display: flex;
    align-items: center;
    height: 7em;
    border: 1px solid black;
    margin: 1em;
    
}

.resultBox:hover {
    background: #cecece;
    cursor: pointer;
    transition: 0.3s;
}

.resultName {
    width: 22em;
    padding: 1em;
}

.resultInfo {
    width: 18em;
    text-align: left;
    margin-left: 1em;
}

.recommendationScore {
    color: #d40000;
}

.collegeModalContainer {
    width: 100%;
    height: 100%;
}

.collegeImage {
    background-image: url('./stony.jfif');
    background-position: center;
    background-size: cover;
    margin: 2em;
    height: 15em;
    border-radius: 2em;
}

.collegeContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.collegeTextInfo {
    width: 30em;
    height: 24em;
}

.collegeInfo {
    font-size: 1.1em;
}

.collegeStats {
    font-size: 0.9em;
    margin-top: 2em;
}

.collegeSimilar {
    width: 30em;
    height: 24em;
}

.collegeSimilar p {
    text-align: right;
}

#modalSimilar {
    justify-content: center;
    height: 6em;
}

#modalSimilar div{
    text-align: center;
}

#modalSimilar h2 {
    font-size: 1.3em;
}