.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBar input {
    width: 32em;
    height: 3em;
    padding: 0em 0.7em;
    font-size: 1.5em;
}

.searchBar button {
    padding: 1em 5em;
    font-size: 1.7em;
    margin: 0em;
}

.highSchoolsTable tr th:first-of-type {
    width: 50%;
}

